
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Oversigt">Oversigt</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/HoldOpsaetning">HoldOpsaetning</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/OpretAktivitet">OpretAktivitet</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/OpretHold">OpretHold</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/ScoreBoard">ScoreBoard</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/AdminSetPoint">AdminSetPoint</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/AdminSlutResultat">AdmitSlutResultat</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/ManageLogin">ManageLogin</a>
</li>