
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/Oversigt">Oversigt</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/HoldOpsaetning">HoldOpsaetning</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/OpretAktivitet">OpretAktivitetOgEvent</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/OpretHold">OpretHold</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/ScoreBoard">ScoreBoard</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/AdminSetPoint">GivPoint</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/AdminSlutResultat">SlutResultat</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminPages/ManageLogin">ManageLogin</a>
</li>