@page
@model PowerEvent.AdminSetPointModel
@{
    ViewData["Title"] = "AdminSetPoint";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <select></select>
        </div>
        <div class="col-5">
            <h1>Giv point til</h1>
        </div>
        <div class="col-5">
            <select></select>
        </div>
    </div>
</div>

