@page
@model PowerEvent.HoldOpsaetningModel
@{
    ViewData["Title"] = "HoldOpsaetning";
}

<h1>HoldOpsaetning</h1>

<p>Event:</p>
<select></select>

<div class="container">
    <div class="row">
        <div class="col-sm-5">            
            <form method="post">
                <p>Spillers navn</p>
                <input type="text" name="Navn"/>
                <input type="submit" value="Opret" asp-page-handler="CmdSubmitNavn"/>
            </form>
            <select id="deltagerselect" multiple>
                @{
                    foreach (var deltager in Model.DeltagerList)
                    {
                        <option label="@deltager.Navn"></option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <div>
                <select id="holdselect">
                    @{ 
                        foreach (var hold in Model.HoldList)
                        {
                            <option label="@hold.Navn" value="@hold.Id"></option>
                        }
                    }
                </select>
                <button name="Random" onclick=""></button>
                <button name="Tilføj" onclick=""></button>
            </div>
            
        </div>
        <div class="col-sm-5">
            <select disabled multiple>
                @{
                    
                }
            </select>
        </div>
    </div>
</div>
