@page
@model PowerEvent.HoldOpsaetningModel
@{
    ViewData["Title"] = "HoldOpsaetning";
}

<h1>HoldOpsaetning</h1>

<p>Event:</p>
<select></select>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <p>Spillers navn</p>
            <!--<input />-->
            <select multiple>
                @{
                    foreach (var deltager in Model.DeltagerList)
                    {
                        <option label="@deltager.Navn"></option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <div>
                <select >
                    @{ 
                        <option value="-1" label="Tilføj hold"></option>
                    }
                </select>
                <button name="Random"></button>
                <button name="Tilføj"></button>
            </div>
            
        </div>
        <div class="col-sm-5">
            <select disabled multiple>
                @{

                }
            </select>
        </div>
    </div>
</div>