@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}
<div class="login-page" style="width: 360px; padding: 8% 0 0; margin: auto;">
    <div class="form" style="  position: relative; z-index: 1; background: #FFFFFF; max-width: 360px; margin: 0 auto 100px; padding: 45px; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
        <div class="login-form" style="font-family: " Roboto", sans-serif; outline: 0; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; padding: 15px; box-sizing: border-box; font-size: 14px;">
            @{
                if (Model.CurrentLogin != new Models.Login() && Model.CurrentLogin != null)
                {

                }
                else
                {
                    <input id="TxtUsername" type="text" placeholder="Navn" />
                    <input id="TxtPassword" type="password" placeholder="Kode" />
                    <br />
                    <input type="button" onclick="elementChanged('cmdLogin')" value="Login" style="background-color: #76b852; font-family: " Roboto", sans-serif; text-transform: uppercase; outline: 0; background: #4CAF50; width: 100%; border: 0; padding: 15px; color: #FFFFFF; font-size: 14px; -webkit-transition: all 0.3 ease; transition: all 0.3 ease; cursor: pointer;">
                }
            }
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        function elementChanged(elementet) {
            let url = new URL(location.href);

            if (elementet == 'cmdLogin') {
                let TxtUsername = document.getElementById('TxtUsername').value;
                url.searchParams.set("TxtUsername", TxtUsername);

                let TxtPassword = document.getElementById('TxtPassword').value;
                url.searchParams.set("TxtPassword", TxtPassword);
            }

            url.searchParams.set("ValgtGuiElemement", elementet);
            location.href = url;
        }
    </script>
}

@section NavMenu {
    @{
        if (Model.CurrentLogin != new Models.Login() && Model.CurrentLogin != null)
        {
            <partial name="_TopNavMenuPartialView" />
        }
    }
}